table{
    border: 1px solid #99bbc1;
    border-spacing: 0px;
    margin:0 auto;
    background-color: white;
}
table tr td{
    border-bottom: 1px solid rgb(245, 245, 245);
}
table .head1
{
    background-color:rgb(245, 245, 245);
    text-align: right;
    height:30px;
    line-height: 30px;
}
table .head
{
    background-color:#337AB7;
    text-align: center;
    height:30px;
    line-height: 30px;
    color:white;
}
table .headtimezone
{
    text-align: center;
    height:30px;
    line-height: 30px;
}
table .title
{
    background-color:rgb(245, 245, 245);
    text-align: right;
    height:60px;
}
table .title1
{
    background-color:rgb(245, 245, 245);
    text-align: right;
    height:30px;
}
table .content
{ 
    width:200px;
}
 .mini-panel
{
    padding-top:5px;
}
.mini-textbox
{
    width:100%;
}
.mini-textbox input
{
    text-align: center;
}
/***********************************************************/
.lf{
    float:left;
}
.rf{
    float:right;
}
.tc{
    text-align: center;
}
.wtj{
  background-color:#F0675A;
}
.ytj{
  background-color:#C9FCFC;
}
.dqr{
  background-color:#98B9ED;
}
.dsh{
  background-color:#D9EDF7;
}
.none{
  background-color:#76FF5A;
}
.oh{
    overflow: hidden;
}
.ImgBox{
	position:relative;
	width:100px;
	height:100px;
}
.oImg{
	position:absolute;
	top:-45%;
	left:20%;
    width:60%;
	z-index:1;
}
.oImg1{
    position:absolute;
    top:-50%;
    left:-150%;
    width:400%;
    z-index:100;
}
.m_btn{
    width:80px;
    height:30px;
    line-height:30px;
}
/*fieldset{
    position:relative;
	width:97%;
}
fieldset img{
    position:absolute;
	top:28px;
}
fieldset a{
    margin-left:20px;
    margin-right:4px;
}*/
fieldset a{
    border-radius:5px;
}